.RestaurantHomePage {
    position: relative;
    left: 25%;
}

.RestaurantHomePage li {
    display: block;
    background-color: lightgray;
    font-size: 14px;
    margin-top: 10px;
    padding: 2px;
    width: 50%;
}

.createRestaurant {
    left: 50%;
    position: relative;
    display: block;
    background: lightgray;
    color: #ed2026;
    border: 2px;
    font-size: 20px;
    margin-right: 10%;
    font-size: 2em;
}

